@font-face {
  font-family: 'Now Black';
  src: url(../assets/fonts/now.black.otf);
}

@font-face {
  font-family: 'Now Medium';
  src: url(../assets/fonts/now.medium.otf);
}

@font-face {
  font-family: 'Now Regular';
  src: url(../assets/fonts/now.regular.otf);
}

@font-face {
  font-family: 'Gagalin';
  src: url(../assets/fonts/Gagalin-Regular.otf);
}

@font-face {
  font-family: 'Ananias Bold';
  src: url(../assets/fonts/Ananias-Bold.otf);
}

}
#style-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 80vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 70vh;
  overflow-y: scroll;
  padding: 0 20px;
  scrollbar-width: thick;
}
form::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

form::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

form::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

form .type-text p {
  padding-bottom: 0.5em;
}
form .type-text {
  display: flex;
  flex-direction: column;
}

form .type-checkbox {
  display: flex;
  gap: 10px;
}

form .type-checkbox,
p {
  font-size: 1.8rem;
}

div.resp span {
  font-size: 1.8rem;
}

::placeholder {
  color: rgba(0, 0, 0, 0.327);
  font-family: 'Now regular';
  font-size: 1.2rem;
}

div.resp {
  flex-direction: row;
  align-items: center;
}

div.resp section input {
  width: 100%;
  margin-inline: 1vh;
}

section.resp-section {
  flex-direction: row;
}

.label-text {
  font-family: 'Now Medium';
  font-size: 1.8rem;
  font-weight: smaller;
}

.input-text {
  padding: 0.5em;
  font-size: 2.4rem;
  border: solid 2px #03a6c4;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 60%;
}

button {
  font-family: 'Now Black';
  font-size: 3.2rem;
  color: #03a6c4;
  padding: 0.5em;
  background-color: white;
  border-radius: 15px;
  border-style: none;
  border-bottom: solid 4px #006a7d;
}

button:active {
  border-bottom: none;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
}

.red-required {
  color: rgb(255, 36, 36);
  font-size: 3rem;
}

/* ******* Accueil ******* */


/* ****** BONNE NAVIGATION ****** */

main.merci {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./background_merci.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titre_merci {
  font-family: 'Gagalin';
  font-size: 12rem;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}


/* *********** BARRE DE RECHERCHE *********** */
main#dashboard {
  padding: 0 0 0;
  justify-content: center;
  gap: 0;
  width: 100%;
}

/* *********** INFO BDD *********** */

main#dashboard div#cross {
  position: absolute;
  top: 10%;
  right: 10%;
}

main#dashboard input {
  width: 80%;
  align-self: center;
}

.illu {
  width: 70%;
}

.illu img {
  width: 100%;
}
