@import './base.css';
@font-face {
  font-family: 'Now Black';
  src: url(../assets/fonts/now.black.otf);
}

@font-face {
  font-family: 'Now Medium';
  src: url(../assets/fonts/now.medium.otf);
}

@font-face {
  font-family: 'Now Regular';
  src: url(../assets/fonts/now.regular.otf);
}

@font-face {
  font-family: 'Gagalin';
  src: url(../assets/fonts/Gagalin-Regular.otf);
}

@font-face {
  font-family: 'Ananias Bold';
  src: url(../assets/fonts/Ananias-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #03a6c4;
  background-image: url(./img/bg-form.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  font-family: 'Now Regular';
  font-size: 24px;
  padding-left: 5em;
  padding-right: 5em;
  gap: 5em;
  align-items: center;
}

#style-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: 'Now Black';
  font-size: 52px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form .type-text {
  display: flex;
  flex-direction: column;
}

form .type-checkbox {
  display: flex;
  gap: 1em;
}

form .type-checkbox,
p {
  font-size: 18px;
}

.label-text {
  font-family: 'Now Medium';
}

.input-text {
  padding: 0.5em;
  font-size: 24px;
  border: solid 2px #03a6c4;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

button {
  font-family: 'Now Black';
  font-size: 32px;
  color: #03a6c4;
  padding: 0.5em;
  background-color: white;
  border-radius: 15px;
  border-style: none;
  border-bottom: solid 4px #006a7d;
}

button:active {
  border-bottom: none;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
}

.red-required {
  color: red;
}

/* ******* Accueil ******* */

header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
  background-color: #03a6c4;
  background-image: url(./img/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 24px;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

header span {
  font-family: 'Gagalin';
  font-size: 50px;
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.6);
}

header h1 {
  font-family: 'Ananias Bold';
  font-size: 80px;
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.6);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: white;
  text-decoration: none;
}

nav a img {
  height: 450px;
}

/* *********** BARRE DE RECHERCHE *********** */
main#dashboard{
  background-color: #fff;
  background-image: none;
  padding: 0 0 0;
  align-items: flex-start;
}
.search-container {
  margin-top: 20px;
  text-align: center;
}
.search-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
  max-width: 100%;
}
.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius:0px 5px 5px 0px;
  cursor: pointer;
  width: 9rem;
}
.icon_loupe{
  width: 2.5vw;
}
form#search_bar{
  display: flex;
  flex-direction: row;
  gap: 0;
}
