body {
  margin: 0;
}

@font-face {
  font-family: 'Now Black';
  src: url(../assets/fonts/now.black.otf);
}

@font-face {
  font-family: 'Now Medium';
  src: url(../assets/fonts/now.medium.otf);
}

@font-face {
  font-family: 'Now Regular';
  src: url(../assets/fonts/now.regular.otf);
}

@font-face {
  font-family: 'Gagalin';
  src: url(../assets/fonts/Gagalin-Regular.otf);
}

@font-face {
  font-family: 'Ananias Bold';
  src: url(../assets/fonts/Ananias-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #03a6c4;
  background-image: url(./img/bg-form.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: 'Now Regular';
  font-size: 24px;
  padding-left: 5em;
  padding-right: 5em;
  gap: 5em;
  align-items: center;
}

#style-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 70vh;
}

#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: 'Now Black';
  font-size: 52px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-width: thick;
}
form::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

form::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0);
}

form::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

form .type-text p {
  padding-bottom: 0.5em;
}
form .type-text {
  display: flex;
  flex-direction: column;
}

form .type-checkbox {
  display: flex;
  gap: 1em;
}

form .type-checkbox,
p {
  font-size: 18px;
}

div.resp span {
  font-size: 18px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.327);
  font-family: 'Now regular';
  font-size: 1.2rem;
}

div.resp {
  flex-direction: row;
  align-items: center;
}

div.resp section input {
  width: 100%;
  margin-inline: 1vh;
}

section.resp-section {
  flex-direction: row;
}

.label-text {
  font-family: 'Now Medium';
  font-size: 1.8rem;
  font-weight: smaller;
}

.input-text {
  padding: 0.5em;
  font-size: 24px;
  border: solid 2px #03a6c4;
  border-radius: 6px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 60%;
}

button {
  font-family: 'Now Black';
  font-size: 32px;
  color: #03a6c4;
  padding: 0.5em;
  background-color: white;
  border-radius: 15px;
  border-style: none;
  border-bottom: solid 4px #006a7d;
}

button:active {
  border-bottom: none;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
}

.red-required {
  color: rgb(255, 36, 36);
  font-size: 3rem;
}

/* ******* Accueil ******* */

header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100vh;
  background-color: #03a6c4;
  background-image: url(./img/bg-home.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 24px;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

header span {
  font-family: 'Gagalin';
  font-size: 50px;
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.6);
}

header h1 {
  font-family: 'Ananias Bold';
  font-size: 80px;
  text-shadow: 0px 4px 19px rgba(0, 0, 0, 0.6);
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  color: #ffffff;
  text-decoration: none;
}

nav a img {
  height: 450px;
}

/* ****** BONNE NAVIGATION ****** */

main.merci {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./background_merci.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.titre_merci {
  font-family: 'Gagalin';
  font-size: 120px;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
}

.full_screen_tl {
  height: 100vh;
  display: flex;
  row-gap: 3em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Screen AFK */

.logo_pic_tl {
  border: 30px solid #75d0e0;
  border-radius: 100%;
  background-color: #03a6c4;
  height: 440px;
  width: 440px;
  box-shadow: 4px 0 100px rgba(0, 0, 0, 0.5);
}
.titre_veille_tl {
  font-weight: lighter;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'gagalin';
  color: white;
  text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  font-size: 70px;
}
/* *********** BARRE DE RECHERCHE *********** */
main#dashboard {
  padding: 0 0 0;
  justify-content: center;
  gap: 0;
  width: 100%;
}

/* *********** INFO BDD *********** */
.title_h3 {
  font-size: 20px;
  background-color: #007bff;
  display: flex;
  padding: 15px;
  border-radius: 3px;
  font-weight: 200;
  width: 400px;
}

main#dashboard div#cross {
  position: absolute;
  top: 10%;
  right: 10%;
}

main#dashboard input {
  width: 80%;
  align-self: center;
}
